<h1>Create a New Recipe!</h1>

<form action="/recipes" method="POST">
  Recipe Name: <input type="text" name="name" id="name" placeholder="name"/>
  Recipe Ingredients: <input type="text" id="ingredients" name="ingredients" placeholder="ingredients"/>
  Recipe Cook Time: <input type="text" id="cook_time" name="cook_time" placeholder="cook time"/>
  <input type="submit" value="Submit" />
</form>