<form action="/recipes" method="POST">
  Recipe Name:
  <input type="text" name="name" placeholder="Name of Recipe">
  Ingredients
  <input type="text" name="ingredients" placeholder="Ingredients">
  Cooking Time
  <input type="number" name="cook_time" placeholder="10">
  <input type="submit" value="Submit">
</form>