<h1>Recipe</h1>

<h2><%=@recipe.name%></h2>
<h3><%=@recipe.ingredients%></h3>
<h4><%=@recipe.cook_time%></h4>

<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" value="delete">delete</button>
</form>
